.itemDescriptionText {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	color: #12141780;
}

.titleCarTextCatalog {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;

	color: #121417;
}
.titleCarTextCard {
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;

	color: #121417;
}
